<h1>Find Users</h1>

<form asp-controller="Students" asp-action="Phrase" method="post">
    <input name="phrase" class="form-control" type="text" placeholder="Phrase" />
    <button class="form-control">Find</button>
</form>