<h1>Add Student</h1>

<form asp-controller="Sciences" asp-action="AddStudent" method="post">
    <input name="scienceId" class="form-control" type="text" placeholder="scienceId" />
    <input name="studentId" class="form-control" type="text" placeholder="studentId" />
    <button class="form-control">Add</button>
</form>
