<h1>Baholash</h1>

<form asp-controller="Sciences" asp-action="Mark" asp-route-scienceId="@ViewBag.ScienceId" asp-route-studentId="@ViewBag.StudentId" method="post">
    <input name="grade" class="form-control" type="text" placeholder="Phrase" />
    <button class="form-control">Set</button>
</form>