@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-action="GetStudents" asp-controller="Students">GetAllStudents</a>
<br />
<a asp-action="GetTeachers" asp-controller="Teachers">GetAllTeachers</a>
<br />
<a asp-action="GetStudentsUnder20" asp-controller="Students">GetStudentsUnder20</a>
<br />
<a asp-action="GetStudentsAugustToSeptember" asp-controller="Students">GetStudentsAugustToSeptember</a>
<br />
<a asp-action="GetTeachersOver55" asp-controller="Teachers"></a>
<br />
<a asp-action="GetTeachersAndStudentsBeeline" asp-controller="Teachers">GetTeachersAndStudentsBeeline</a>
<br />
<a asp-action="GetStudentsWithPhrase" asp-controller="Students">GetStudentsWithPhrase</a>
<br />
<a asp-action="GetScienceMostAverage" asp-controller="Sciences">GetScienceMostAverage</a>
<br />
<a asp-action="GetTeachersOver97Students" asp-controller="Teachers">GetTeachersOver97Students</a>
<br />
